<!DOCTYPE html>
<html>
<%- include ../../partials/head.ejs %>
<style type="text/css">
input:read-only {
    background-color: #fff !important;
}
</style>
<body class="hold-transition skin-black sidebar-mini fixed">
	<div class="wrapper">
		<%- include ../../partials/navbar.ejs %>
		<%- include ../../partials/sidebar.ejs %>
		<div class="content-wrapper">
			<section class="content-header">
				<h1><b>INVITATION</b>
					<a href="#" id="btn-help-multiple" data-html="true" data-toggle="popover" data-trigger="focus" style="padding-left: 20px;" hidden><i class="fa fa-question-circle"></i></a>
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-user"></i>User Management</a></li>
					<li><a href="#">Invitation</a></li>
				</ol>
			</section>

			<section class="content small-font">
				<div class="nav-tabs-custom">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#customer-tab" data-toggle="tab" data-action="customer"> Customer</a></li>
						<li><a href="#salesperson-tab" data-toggle="tab" data-action="salesperson"> Salesperson</a></li>

					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="customer-tab">
							<div class="box box-solid">
								<div class="box-body">
									<div class="row">
										<div class="customer-table-tools">
											<div class="col-lg-2 col-md-2">
												<input type="text" id="customer-table-filter" class="form-control input-sm" placeholder="Search">
											</div>
											<div class="col-lg-1 col-md-2">
												<button class="btn btn-primary btn-sm btn-flat" data-account-type="customer" id="check-invite-customer-btn"><i class="fa fa-envelope" aria-hidden="true"></i> Send Invite</button>
											</div>
										</div>
										<div class="col-lg-12">
											<table id="customer-table" class="table table-bordered table-condensed nowrap table-responsive datatable" width="100%">
											</table>
										</div>
									</div>
								</div>

								<div class="overlay loading-state">
									<i class="fa fa-spinner fa-spin"></i>
								</div>
							</div>
						</div>

						<div class="tab-pane" id="salesperson-tab">
							<div class="box box-solid" style="box-shadow: none;">
								<div class="box-body">
									<div class="row">
										<div class="salesperson-table-tools">
											<div class="col-lg-2">
												<input type="text" id="salesperson-table-filter" class="form-control input-sm" placeholder="Search">
											</div>
											<div class="col-lg-1 col-md-2">
												<button class="btn btn-primary btn-sm btn-flat" data-account-type="salesperson" id="check-invite-salesperson-btn"><i class="fa fa-envelope" aria-hidden="true"></i> Send Invite</button>
											</div>
										</div>
										<div class="col-lg-12">
											<table id="salesperson-table" class="table table-bordered table-condensed nowrap table-responsive datatable" width="100%">
											</table>
										</div>
									</div>
								</div>

								<div class="overlay loading-state">
									<i class="fa fa-spinner fa-spin"></i>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>
		</div>
		<%- include ../../partials/footer.ejs %>
		<%- include ../../partials/settings.ejs %>
		<div class="control-sidebar-bg"></div>

		<div class="modal fade" id="invite-customer-modal">
			<div class="modal-dialog modal-lg bounceInDown animated">
				<div class="modal-content">
					<div class="modal-header primary-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title"><i class="fa fa-envelope"></i> Invite customer</h4>
					</div>
					<div class="modal-body">
						<div class="nav-tabs-custom small-font">
							<ul class="nav nav-tabs pull-right">
								<li class="active"><a href="#invite-customer-tab" data-toggle="tab"><span style="font-size: 14px;">Customers</span> <span class="badge margin-left-5" id="invite-counter-customer"></span></a></a></li>
								<li class="pull-left header text-yellow"><i class="fa fa-question-circle" style="font-size: 25px;"></i>  <span style="font-size: 16px;">Invite selected customer/s ?</span></li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="invite-customer-tab">
									<table id="invite-customer-table" class="table table-bordered table-condensed table-responsive datatable">
										<thead>
											<tr>
												<th>Customer code</th>
												<th>Name</th>
												<th>Email</th>
												<th>Sent</th>
											</tr>
										</thead>

										<tbody>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-sm btn-default btn-flat" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
						<button type="button" class="btn btn-sm btn-primary btn-flat" id="send-invite-customer-btn"><i class="fa fa-check"></i> Send invite</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="invite-salesperson-modal">
			<div class="modal-dialog modal-lg bounceInDown animated">
				<div class="modal-content">
					<div class="modal-header primary-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title"><i class="fa fa-envelope"></i> Invite salesperson</h4>
					</div>
					<div class="modal-body">

						<div class="nav-tabs-custom small-font">
							<ul class="nav nav-tabs pull-right">
								<li class="active"><a href="#invite-salesperson-tab" data-toggle="tab"><span style="font-size: 14px;">Salesperson</span> <span class="badge margin-left-5" id="invite-counter-salesperson"></span></a></a></li>
								<li class="pull-left header text-yellow"><i class="fa fa-question-circle" style="font-size: 25px;"></i>  <span style="font-size: 16px;">Invite selected salesperson/s ?</span></li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="invite-salesperson-tab">
									<table id="invite-salesperson-table" class="table table-bordered table-responsive datatable">
										<thead>
											<tr>
												<th>Salesperson code</th>
												<th>Name</th>
												<th>Email</th>
												<th>Sent</th>
											</tr>
										</thead>

										<tbody>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-sm btn-default btn-flat" data-dismiss="modal"><i class="fa fa-close"></i> Cancel</button>
						<button type="button" class="btn btn-sm btn-primary btn-flat" id="send-invite-salesperson-btn"><i class="fa fa-check"></i> Send invite</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Help Modal -->
		<div class="modal fade bs-example-modal-lg" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><spanaria-hidden="true">×</span></button>
						<h4 class="modal-title">Help <i class="fa fa-question-circle" style="font-size: 15px;" aria-hidden="true"></i></h4>
					</div>
					<div class="modal-body no-padding">

						<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
							<ol class="carousel-indicators">
								<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
								<li data-target="#myCarousel" data-slide-to="1"></li>
							</ol>
							<div class="carousel-inner">
								<div class="item active">
									<img class="img-responsive" src="#" alt="...">
									<div class="carousel-caption">
										One Image
									</div>
								</div>
								<div class="item">
									<img class="img-responsive" src="#" alt="...">
									<div class="carousel-caption">
										Another Image
									</div>
								</div>
							</div>
							<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
								<span class="fa fa-angle-left"></span>
							</a>
							<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
								<span class="fa fa-angle-right"></span>
							</a>
						</div>
						
					</div>
				</div>
			</div>
		</div>

	</div>
	<%- include ../../partials/scripts.ejs %>
	<script type="text/javascript" src="../../../dist/js/model.js"></script>
	<script type="text/javascript" src="../../../dist/js/myFunctions.js"></script>
	<script type="text/javascript" src="../../../dist/js/userManagement/invitation.js"></script>
	<script type="text/javascript" src="../../../localdata/role.json"></script>
	<script type="text/javascript" src="../../../localdata/help.json"></script>
</body>
</html>