<!DOCTYPE html>
<html>
<%- include ../../partials/head.ejs %>
<style type="text/css">
	/* The switch - the box around the slider */
	.switch {
	  position: relative;
	  display: inline-block;
	  width: 30px;
	  height: 20px;
	}

	/* Hide default HTML checkbox */
	.switch input {display:none;}

	/* The slider */
	.slider {
	  position: absolute;
	  cursor: pointer;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background-color: #ccc;
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	.slider:before {
	  position: absolute;
	  content: "";
	  height: 12px;
	  width: 12px;
	  left: 4px;
	  bottom: 4px;
	  background-color: white;
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	input:checked + .slider {
	  background-color: #2196F3;
	}

	input:focus + .slider {
	  box-shadow: 0 0 1px #2196F3;
	}

	input:checked + .slider:before {
	  -webkit-transform: translateX(10px);
	  -ms-transform: translateX(10px);
	  transform: translateX(10px);
	}

	/* Rounded sliders */
	.slider.round {
	  border-radius: 20px;
	}

	.slider.round:before {
	  border-radius: 50%;
	}
</style>
<body class="hold-transition skin-black sidebar-mini fixed">
	<div class="wrapper">
		<%- include ../../partials/navbar.ejs %>
		<%- include ../../partials/sidebar.ejs %>
		<div class="content-wrapper">
			<section class="content-header">
				<h1><b>PERMISSION</b>
					<a href="#" id="btn-help" data-toggle="modal" data-target="#modal-default" data-help="permission" style="padding-left: 20px;" hidden><i class="fa fa-question-circle"></i></a>
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-users"></i>User Management</a></li>
					<li><a href="#">Permission</a></li>
				</ol>
			</section>

			<section class="content small-font">
				<div class="nav-tabs-custom">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#permission-tab" data-toggle="tab"><b>AMI</b></a></li>
						<li><a href="#permission-tab" data-toggle="tab"><b>WOS</b></a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="permission-tab">
							<div class="box box-solid" style="box-shadow: none;">
								<div class="box-body">
									<div class="row">
										<div class="col-lg-6">
											<form class="form-inline">
												<div class="form-group">
													<select id="role-select" class="form-control"></select>
												</div>
												<div class="form-group">
													<button class="btn btn-primary btn-flat btn-block" id="save-btn" type="button"><i class="fa fa-floppy-o"></i> Save</button>
												</div>
											</form>
										</div>


										<br><br><br>
									</div>

									<div class="row" id="permission-panels"></div>
								</div>

								<div class="overlay loading-state">
									<i class="fa fa-spinner fa-spin"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<%- include ../../partials/footer.ejs %>
		<%- include ../../partials/settings.ejs %>
		<div class="control-sidebar-bg"></div>

		<!-- Help Modal -->
		<div class="modal fade bs-example-modal-lg" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><spanaria-hidden="true">×</span></button>
						<h4 class="modal-title">Help <i class="fa fa-question-circle" style="font-size: 15px;" aria-hidden="true"></i></h4>
					</div>
					<div class="modal-body no-padding">

						<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
							<ol class="carousel-indicators">
								<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
								<li data-target="#myCarousel" data-slide-to="1"></li>
							</ol>
							<div class="carousel-inner">
								<div class="item active">
									<img class="img-responsive" src="#" alt="...">
									<div class="carousel-caption">
										One Image
									</div>
								</div>
								<div class="item">
									<img class="img-responsive" src="#" alt="...">
									<div class="carousel-caption">
										Another Image
									</div>
								</div>
							</div>
							<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
								<span class="fa fa-angle-left"></span>
							</a>
							<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
								<span class="fa fa-angle-right"></span>
							</a>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<%- include ../../partials/scripts.ejs %>
	<script type="text/javascript" src="../../../dist/js/model.js"></script>
	<script type="text/javascript" src="../../../dist/js/myFunctions.js"></script>
	<script type="text/javascript" src="../../../dist/js/userManagement/permission.js"></script>
	<script type="text/javascript" src="../../../localdata/help.json"></script>
</body>
</html>