<!DOCTYPE html>
<html>
<%- include ../../partials/head.ejs %>
<body class="hold-transition skin-black sidebar-mini sidebar-collapse">
	<div class="wrapper">
		<%- include ../../partials/navbar.ejs %>
		<%- include ../../partials/sidebar.ejs %>
		<div class="content-wrapper">
			<section class="content">
				<div class="row">
					<div class="col-lg-12">
						<div class="box box-default">
							<div class="box-header with-border">
								<h3 class="box-title text-uppercase" style="font-weight: bolder;"><i class="fa fa-database" aria-hidden="true"></i> Orders master data</h3>
								<div class="btn-group pull-right" id="table-tools">
									<button type="button" class="btn btn-primary btn-sm btn-flat"><i class="fa fa-filter" aria-hidden="true"></i> Filter</button>
									<button type="button" class="btn btn-default btn-sm btn-flat"><i class="fa fa-download" aria-hidden="true"></i> Eport</button>
								</div>
							</div>

							<div class="box-body">
								<div class="col-lg-12">
									<div id="buttons" style="font-size: 10px;"></div>
									<div id="extreme" style="font-size: 10px;"></div>
								</div>
								<div class="col-lg-12" style="font-size: 10px;">
									<table id="orders-table" class="table table-bordered table-hover nowrap table-responsive table-condensed datatable" width="100%">
										<thead>
											<tr>
												<th>SAP #</th>
												<th>Sales #</th>
												<th>Item #</th>
												<th>Date ordered</th>
												<th>Status</th>
												<th>Type</th>
												<th>Customer code</th>
												<th>Material code</th>
												<th>Price</th>
												<th>Quantity</th>
												<th>Amount</th>
											</tr>
										</thead>

										<tbody>
										</tbody>
									</table>
								</div>
							</div>

							<div class="overlay loading-state">
								<i class="fa fa-spinner fa-spin"></i>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<%- include ../../partials/footer.ejs %>
		<%- include ../../partials/settings.ejs %>
		<div class="control-sidebar-bg"></div>
	</div>
	<%- include ../../partials/scripts.ejs %>
	<script type="text/javascript" src="../../../dist/js/model.js"></script>
	<script type="text/javascript" src="../../../dist/js/myFunctions.js"></script>
	<script type="text/javascript" src="../../../dist/js/offlineDB/orders.js"></script>
	<script type="text/javascript" src="../../../dist/js/advance-utilities.js"></script>
	<script type="text/javascript" src="../../../dist/js/extra/orders.js"></script>
</body>
</html>