<!DOCTYPE html>
<html>
    <%- include ../../partials/head.ejs %>
    <body class="hold-transition skin-black sidebar-mini fixed">
        <div class="wrapper">
            <%- include ../../partials/navbar.ejs %>
            <%- include ../../partials/sidebar.ejs %>
            <div class="content-wrapper" id="creditExceedApprovalLogsMain">
                <section class="content-header">
                    <h1><b>CREDIT EXCEED APPROVAL LOGS</b>
                        <a href="#" id="btn-help" data-toggle="modal" data-target="#modal-default" data-help="creditExceedApprovalLogs" style="padding-left: 20px;"><i title = "Order Status" class="fa fa-question-circle"></i></a>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-pie-chart"></i>Reports</a></li>
                        <li><a href="#"></a>Credit Exceed Approval Logs</li>
                    </ol>
                </section>
                <section class="content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="box box-solid">
                                <div class="box-body small-font">
                                    <form class="form-inline" id="creditExceedApprovalLogsBtn-form">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-sm filter-btn btn-default btn-flat" id="daterange-btn"> <i class="fa fa-calendar"></i> <span>Date Range</span> <i class="caret"></i></button>
                                        </div>
                                        <div class="form-group">
                                            <div class="dropdown" id="customer-dropdown">
                                                <button class="btn btn-sm btn-default btn-flat dropdown-toggle" type="button" data-toggle="dropdown">
                                                <span class="dropdown-text">Customer</span>
                                                <span class="caret"></span></button>
                                                <ul class="dropdown-menu"></ul>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="dropdown" id="orderType-dropdown">
                                                <button class="btn btn-sm btn-default btn-flat dropdown-toggle" type="button" data-toggle="dropdown">
                                                <span class="dropdown-text">Order Type</span>
                                                <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#" class="select-all"><div class="checkbox"><label><input type="checkbox"> All</label></div></a></li>
                                                    <li><a href="#"><div class="checkbox"><label><input type="checkbox" data-value="Normal Order"> Normal Order</label></div></a></li>
                                                    <li><a href="#"><div class="checkbox"><label><input type="checkbox" data-value="Special Order"> Special Order</label></div></a></li>                                                    
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="dropdown" id="creditExceed-dropdown">
                                                <button class="btn btn-sm btn-default btn-flat dropdown-toggle" type="button" data-toggle="dropdown">
                                                <span class="dropdown-text">Credit Exceed</span>
                                                <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#" class="select-all"><div class="checkbox"><label><input type="checkbox"> All</label></div></a></li>
                                                    <li><a href="#"><div class="checkbox"><label><input type="checkbox" data-value="YES"> YES</label></div></a></li>
                                                    <li><a href="#"><div class="checkbox"><label><input type="checkbox" data-value="NO"> NO</label></div></a></li>                                                    
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="dropdown" id="status-dropdown">
                                                <button class="btn btn-sm btn-default btn-flat dropdown-toggle" type="button" data-toggle="dropdown">
                                                <span class="dropdown-text">Status</span>
                                                <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#" class="select-all"><div class="checkbox"><label><input type="checkbox"> All</label></div></a></li>
                                                    <li>
                                                        <a href="#">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <div class="pending">
                                                                        <input class="dis-none" type="checkbox" data-value="saved">
                                                                        <input class="dis-none" type="checkbox" data-value="pending order approval">
                                                                        <input class="dis-none" type="checkbox" data-value="backorderPending">
                                                                        <input class="dis-none" type="checkbox" data-value="submitted">
                                                                        <label><input type="checkbox" data-value="pending credit note creation" id="orderPendingCheckbox"> Order Pending</label>
                                                                    </div>
                                                                </label>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li><a href="#"><div class="checkbox"><label><input type="checkbox" data-value="confirmed"> Order Approved</label></div></a></li>     
                                                    <li><a href="#"><div class="checkbox"><label><input type="checkbox" data-value="rejected"> Order Rejected</label></div></a></li>                                                
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button type="button" class="btn btn-sm filter-btn btn-primary btn-flat" id="btn-generate"> <i class="fa fa-pie-chart"></i> Generate Report</button>
                                        </div>
                                        <div class="form-group pull-right"><input type="text" class="form-control input-sm" id="txtSearchCreditExceedApprovalLogs" placeholder="Search"></div>
                                        <div class="form-group" id="creditExceedApprovalLogs-table-buttons"></div>
                                    </form>
                                    <table id="creditExceedApprovalLogsTable" class="table table-bordered table-hover table-responsive nowrap datatable" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Order ID</th>
                                                <th>Order Date</th>
                                                <th>Customer</th>
                                                <th>Order Type</th>
                                                <th>Credit Exceed</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="overlay loading-state">
                                    <i class="fa fa-spinner fa-spin"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                
                <!-- Help Modal -->
                <div class="modal fade bs-example-modal-lg" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><spanaria-hidden="true">×</span></button>
                                <h4 class="modal-title">Help <i class="fa fa-question-circle" style="font-size: 15px;" aria-hidden="true"></i></h4>
                            </div>
                            <div class="modal-body no-padding">

                                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <img class="img-responsive" src="#" alt="...">
                                            <div class="carousel-caption">
                                                One Image
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img class="img-responsive" src="#" alt="...">
                                            <div class="carousel-caption">
                                                Another Image
                                            </div>
                                        </div>
                                    </div>
                                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                        <span class="fa fa-angle-left"></span>
                                    </a>
                                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                        <span class="fa fa-angle-right"></span>
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include ../../partials/footer.ejs %>
            <%- include ../../partials/settings.ejs %>
            <div class="control-sidebar-bg"></div>
        </div>
        <%- include ../../partials/scripts.ejs %>
        <script type="text/javascript" src="../../../localdata/role.json"></script>
        <script type="text/javascript" src="../../../localdata/help.json"></script>
        <script type="text/javascript" src="../../../dist/js/model.js"></script>
        <script type="text/javascript" src="../../../dist/js/myFunctions.js"></script>
        <script type="text/javascript" src="../../../dist/js/reports/creditexceedapprovallogs.js"></script>
    </body>
</html>